.about-us {
  text-align: center;
  padding: 8rem;
  margin: auto;
  width: auto;
  background: url('../assets/TmBg.png') no-repeat center center;
  background-size: cover;
  color: #333;
  border-radius: 8px;
}

.about-title {
font-size: 2.5rem;
  position: relative;
  color: #2e7d32;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.about-description {
   font-size: 1.3rem;
  color: #333;
  max-width: 600px;
  margin: 0 auto 1rem;
  line-height: 1.4;
  text-align: justify;
}
