.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0.1px 2rem;
  background-color: rgba(48, 230, 54, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  margin-bottom: auto;
  top: 0; 
  z-index: 90;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.navbar-logo a {
 width: 10px; 
  height: 20px;
  margin: 10px;

}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  position: fixed relative; 
  z-index: 100;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #FFD700; 
}

.navbar-menu li {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 16px; 
  border-radius: 20px; 
  background-color: rgb(0, 0, 0); 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-menu li:hover {
  color: #FFD700; 
  background-color: rgba(255, 255, 255, 0.2); 
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none; 
  }
}

.translate-container {
  display: flex;
  align-items: center;
  gap: 4px; 
  color: #fff;
}

.translate-option {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.translate-option:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.navbar-actions {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.toggle-button, .login-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.2em;
}

.toggle-button {
  padding: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: #fff;
  background-color: transparent;
  transition: color 0.3s ease;
}

.toggle-button:hover {
  color: #FFD700; 
}

.login-button {
  display: flex;
  align-items: center;
  padding: 6px 10px; 
  font-size: 1em;
  gap: 8px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.215);
  transition: background-color 0.3s ease;
  font: bold;
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}
